/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end of reset */



body {
	font: normal normal 400;
	font-size: 100%;
	line-height: 1.5em;
	/*also written as...  font: normal normal 400 100%/1.5em;*/
	font-family: Verdana,sans-serif;
}

p {
	position: relative;
	left: 20%;
}

code {
	font: normal normal;
	font-size: 1em;
	font-family: Menlo,monospace,sans-serif;
	color: #aaa;
}

p code {
	position: absolute;
	left: -8%;
}


ul { 
	position: relative;
	left: 20%;
}



h1,h2,h3,h4,h5,h6 {
	font-weight: 400;
	font-family: Cousine,Verdana,sans-serif;
}

h1 {
	font-size: 3em;
	line-height: 1em;
	margin: 0 0 .1666em
}

h1+p {
	position: relative;
	left: 0;
	font-size: 110%;
}


h2 {
	font-size: 137.5%;
	/*font-weight: bold;*/
	color: #a00;
	line-height: 1em;
	margin-top: 1em;
	position: relative;
	top: 2em;
}

h3 {
	font-size: 112.5%;
	line-height: 1em; 
	margin: 0;
	position: relative;
	left: 1.5em;
	top: 2.25em;
}

a
{
	color:#555;
	text-decoration:none
}

a:hover
{
	color:#39f
}


blockquote {
		/*border-left: solid .1em #E4E4E4;*/
		color: #999;
		font-size: 0.75em;
		padding: 0;
}

dl {
	position: relative;
	left: 24em;
	width: 40em;
}

	dl p {
		margin-top: 0;
	}

	dt code {
		/*font-weight: bold;*/
		color: #aaa;
		position: relative;
		left: -8em;
		top: -1.5em;
		line-height: 0.5em;
	}

	dd {
		margin-bottom: 1em;
	}

	dl ul {
		position: relative;
		left: -4em;
		top: -1.5em;
	}

	dt {
		margin-bottom: 0;
	}

	/*address {
		position: absolute;
		left: 12em;
		top: -0.5em;
	}*/


