/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/




html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

@page {
	            margin: 20px 20px 20px 50px !important;
	            padding: 20px 20px 20px 50px !important;
	        }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end of reset */


:root
{
  --leftstart: 18%;}




body {
	/*font: normal normal 400;*/
	font-family: normal;
	font-weight: 400;
	font-size: 93%;
	line-height: 1.42em;
	/*also written as...  font: normal normal 400 100%/1.5em;*/
	font-family: Avenir,Verdana,sans-serif;
	margin-top: 2em;
	margin-left: 1em;
}

p {
	position: relative;
	left: var(--leftstart);
	margin-bottom: 0.4em;
	margin-right: 0;
	width: 73%;
	text-align: justify;

}

code {
	font: normal normal;
	font-size: 75%;
	/*line-height: 1em;*/
	font-family: Monaco,Menlo,monospace,sans-serif;
	color: #aaa;
}

p code {
	position: absolute;
	text-align: left;
	left: -25%;
	max-width: 20%;
}


ul {
	position: relative;
	left: var(--leftstart);
	width: 100%;
	margin-bottom: 0.15em;
	margin-top: -0.5em;
}

/*uncomment to get dashes in the list*/
/*li:before {
	content: "-";
	position: relative;
	left: -0.25em;
}*/

li {
	/*second line indent*/
	/*padding-left: 1.25em;*/
	/*text-indent: -1.25em;*/
	left: 25%;
	width: 73%;
	margin-top: 0.25em;
	margin-bottom: 0.35em;
	margin-right: 0;
	text-align: justify;
	/*color: #777;*/

}

li ul {
	position: relative;
	left: 0;
	width: 100%;
	margin-top: 0.25em;
	text-align: justify;

}

h1,h2,h3,h4 {
	font-weight: 400;
	font-family: Avenir,Cousine,Verdana,sans-serif;
	width: 100%;
}

h1 {
	text-align: left;
	font-size: 2em;
	line-height: 1em;
	position: relative;
	left: var(--leftstart);
	width: 100%;
}

h1+p {
	/*subtitle*/
	font-style: italic;
	font-size: 110%;
}

h2 {
	font-size: 1.43em;
	color: #d94d70;
	position: relative;
	bottom: 0.33em;
	left: var(--leftstart);
	text-align: left;
	width: 73%;
	margin-top: 23px;
}

h3 {
	font-size: 1em;
	line-height: 2em;
	position: relative;
	top: 1.7em;
	text-align: right;
	width: 20%;
}

a {
	color: #1d1d1d;
	/*text-decoration:none;*/
}

a:hover {
	color:#03B5AA;
	transition-duration: 0.8s;
}


#myself {
	position: relative;
	left: var(--leftstart);
	margin-bottom: 0.7em;
	margin-top: 0.7em;
	margin-right: 0;
	width: 73%;
	text-align: justify;
}

#webaddress4print {
	margin-top: 1em;
	position: relative;
	left: var(--leftstart);
	/*color: #d94d70;*/
	/*font-family: Monaco,Menlo,monospace,sans-serif;*/
	font-family: Avenir,Verdana,sans-serif;
	font-size: 100%;
}


#webaddress {
	display: none
}

#currentlytext {
	position: relative;
	left: var(--leftstart);
	margin-bottom: 0.54em;
	margin-right: 0;
	width: 75%;
	text-align: justify;

}

em {
	/* font-weight: bold; */
	font-style: italic;
}

strong {
	font-weight: bold;
	left: 25%;
	width: 45%;
   	margin-top: 0.25em;
   	margin-bottom: 0.1em;
    	margin-right: 0;
}

#address {
	display: none;
}

#main {
	position: relative;
	top: 10px;
}
