/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

em {
	font-weight: bold;
	font-style: italic;
}

strong {
	font-weight: bold;
}

ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end of reset */

body {
	font: normal normal 400;
	font-size: 60%;
	line-height: 1.5em;
	font-family: Verdana,sans-serif;
	margin-top: 1em;
	margin-left: 1em;
}

p {
	position: relative;
	left: 20%;
	width: 80%;
	margin-bottom: 0.7em;
	margin-right: 0;
}

blockquote {
	font: normal normal;
	font-size: 1em;
	white-space: nowrap;
}

blockquote em {
	display: block;
	color: #aaa;
	font-weight: normal;
}

blockquote {
	position: absolute;
	right: 0%;
	width: 100px;
}

p+ul {
	margin-top: 
}
ul { 
	position: relative;
	left: 20%;
	width: 80%;
	margin-bottom: 1.5em;
}

li:before {
	content: "-";
	position: relative;
	left: -0.25em;
}

li ul {
	position: relative;
	left: 0;
	margin-top: 0.25em;
}

h1,h2,h3,h4 {
	font-weight: 400;
	font-family: Cousine,Verdana,sans-serif;
}

h1 {
	text-align: left;
	font-size: 3em;
	line-height: 1em;
}

h1+p { 
	/*subtitle*/
	font-style: italic;
	font-size: 110%;
}

h2 {
	font-size: 1.6em;
	margin-top: 1em;
	position: relative;
	top: 1em;
}

h3 {
	font-size: 1em;
	line-height: 2em; 
	position: relative;
	top: 1.7em;
	text-align: right;
	width: 20%;
}

a {
	color: inherit;
	/*text-decoration:none*/
}

a:hover {
	color:#39f
}

#webaddress {
	margin-top: 1em;
	position: relative;
	left: 33%;
	color: #aaa;
	font-family: Menlo,monospace,sans-serif;
	font-size: 80%;
}

#webaddress a {
	text-decoration: none;
}

#address {
	display: none;
}
