body {
	font: normal normal 400;
	font-size: 10pt;
	line-height: 1.35em;
	/*also written as...  font: normal normal 400 100%/1.5em;*/
	font-family: Verdana,sans-serif;
	/*margin-top: 1em;
	margin-left: 1em;*/
}
