<!doctype html>
<html>
<head>
  <meta charset=utf-8 />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> {% if page.title %} {{ page.title }} | {% endif %} CV</title>
  <link href="media/{{ site.style }}-screen.css" type="text/css" rel="stylesheet" media="screen">
  <link href="media/{{ site.style }}-print.css" type="text/css" rel="stylesheet" media="print">
  <link rel="shortcut icon" type="image/png" href="favicon.png">
</head>
<body>
  <div class="page-header" style="text-align: center">
    I'm The Header
    <br/>
    <button type="button" onClick="window.print()" style="background: pink">
      Print-friendly PDF
    </button>
  </div>
    <div id="main">
    <div id="content">
    {{ content }}
    </div>
  </div>

  <div class="page-footer">
   I'm The Footer!
 </div>

  <tfoot>
  <tr>
    <td>
      <!--place holder for the fixed-position footer-->
      <div class="page-footer-space"></div>
    </td>
  </tr>
</tfoot>

</body>
</html>
